<h1>Having Fun with the Swedish Language</h1>
<p>The swedish language becomes a bit more exciting when I can wake up and call everyone a moron first thing in the morning and no one bats an eye.<br>
It's equally as fun being on vacation with Swedes in Italy and seeing the locals fces when my FIL remarks that it's time for a fika break.</p>

<br><br>

<h1>True Detective Season 3</h1>
<p>Have they redeemed themselves this season? So far so good says the HBO crime drama follwers.</p>

<br><br>


<% @articles.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.content %></p>
<% end %>